.custom-button {
    border: none; /* Ensure there's no border */
    outline: none; /* Remove default outline */
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect */
  .custom-button:hover {
    transform: scale(1.1);
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none !important; /* Ensure no outline on hover */
  }
  
  /* Focus effect - Removing browser blue border */
  .custom-button:focus,
  .custom-button:focus-visible,
  .custom-button:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }
  
  /* Active effect */
  .custom-button:active {
    transform: scale(0.98);
    outline: none !important;
  }
  

  @font-face {
    font-family: 'Wangloe Inked';
    src: url('../../public/wangloe-inked.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .custom-font {
    font-family: 'Wangloe Inked', sans-serif;
  }
    
.swiper-button-next,
.swiper-button-prev {
  color: black; /* Change button color */
}

.swiper-pagination-bullet {
  background: gray; /* Change pagination bullet color */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
